body{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header{
    margin: 1%;
    text-align: center;
    border: 3px solid black;
    border-radius: 3px;
    padding: 3%;
    font-size: 250%;
    width: 100%;
}

nav{
    display:flex;
    flex-direction: column;
    margin: 1%;
    border: 3px solid black;
    border-radius: 3px;
    width: 100%;
    min-height: 10%;
} 

a{
    margin: 1%;
    text-align: center;
}

main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: center;
    border: 3px solid black;    
    border-radius: 3px;
    width: 100%;
    min-height: 350px;
}

article{
    border: 3px solid black;
    border-radius: 3px;
    margin: 1%;
    text-align: center;
    width: 100%;
}

footer{
    border: 3px solid black;
    border-radius: 3px;
    margin: 1%;
    min-height: 75px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
    nav {
        width: 8%;
        
    }
    main{
        width: 85%;
    }
 }

 @media screen and (min-width: 1078PX) {
    nav {
        width: 15%;
        height: 450px;        
    }
    main{
        width: 80%;
    }
    article{
        width: 30%;
    }
 }